@color: #f70000;
// 头部
#head{
  width: 100%;
  height: 30px;
  background: #F5F5F5;
  border-bottom: 1px solid @color;
  .content{
    width: 1200px;
    height: 30px;
    position: relative;
    margin: 0 auto;
    line-height: 30px;
    .left{
      li{

        float: left;
        a{
          color: #333;
          font-weight: 700;
          padding: 0 20px 0 0;
          border-right: 2px solid #d3d3d3;
          
        }
      &:nth-child(2){
        a{
          padding-left: 20px;
          border-right: none;
        }
            
          } 
      }

    }
    .right{
      li{
        float: left;
        a{
          color: #333;
          font-weight: 700;
          padding: 0 20px ;
          border-right: 2px solid #d3d3d3;
        }
       &:nth-child(3){
         height: 30px;
        a{
          padding: 0;
          padding-right: 30px;
          padding-left: 48px;
          border-right: none;
          p{
            color: @color;
            position: absolute;
            right: 0;
            top: 0px;
          }
          span{
            position: absolute;
            top: 5px;right: 80px;
            
            width: 18px;
            height: 16px;
            background: url('../images/homepage_icon_cart.png') no-repeat;
          }
        }
            
          }  
      }
    }
  }
}
// 导航
#nav{
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  .content{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    .login{
      margin: 10px 0;
      a{
        img{
          width: 120px;
        }
      }
    }
  }
}