<!--头部-->
<div ng-include="'./common/head_nav.html'"></div>
  <!--主题-->
  <section id="comment_main">
    <div class="content">
      <div ng-include="'./common/left.html'"></div>
      <div class="center fr">
        <div class="order_top">
          <p>订单编号 : {{star_list.order_no}} <i>{{star_list.order_state_show}}</i> <span>{{star_list.create_time}}</span></p>
        </div>
        <div class="comment">
          <p>评价星级</p>
          <div class="stars" value="">
            <ul star-lan>
              <li>
                <img src="./assets/images/bigstar_default.png" alt="">
              </li>
              <li>
                 <img src="./assets/images/bigstar_default.png" alt="">
              </li>
              <li>
                 <img src="./assets/images/bigstar_default.png" alt="">
              </li>
              <li>
                 <img src="./assets/images/bigstar_default.png" alt="">
              </li>
              <li>
                 <img src="./assets/images/bigstar_default.png" alt="">
              </li>
            </ul>
          </div>
          <p>评价内容</p>
          <textarea rows="" cols=""></textarea>
          <input type="submit" name="" value="提交评价" ng-click="star_refer()">
        </div>
      </div>
    </div>
  </section>
<!--尾部-->
<ng-include src="'./common/footer.html'"  ></ng-include>
