<!--头部-->
<div ng-include="'./common/head_nav.html'"></div>
  <!--主题-->
  <section id="transact_main">
    <div class="content">
      <div ng-include="'./common/left.html'"></div>
      <div class="center fr">
        <div class="order_top">
          <p>我的订单</p>
          <div class="search fr">
            <input type="text" class="sw_btn" name="" placeholder="请输入订单编号／名称／合同编号">
            <input type="button" name="" value="" ng-click="search_transact()">
          </div>
        </div>
        <div class="order_nav">
          <ul>
            <li>全部事项 ({{all_data.all_count}})</li>
            <li  ng-click="obligation()">待付款 ({{all_data.wait_pay_count}})</li>
            <li class="active1">待办理 ({{all_data.wait_transact_count}})</li>
            <li ng-click="finish()">已完成 ({{all_data.end_count + all_data.wait_assessment_count +all_data.transact_over_count}})</li>
          </ul>
        </div>
        <div class="order_lists">
          <div class="list_tou">
            <ul>
              <li>订单号</li>
              <li>订单名称</li>
              <li>合同编号</li>
              <li>服务类型</li>
              <li>服务进度</li>
              <li>费用(元)</li>
              <li>操作</li>
            </ul>
          </div>
          <div class="order_not">
            <span>您还没有订单记录</span>
          </div>
          <div class="list_con" ng-repeat="item in wait_data track by $index">
            <ul>
              <li class="item1">
                <p>{{item.order_no}}</p>
              </li>
              <li class="item2">
                <span> {{item.order_name}}</span>
                <img src="./assets/images/orderpage_icon_name.png" alt="">
              </li>
              <li class="item3">
                <div ng-repeat="item in item.orderGoodsBeans track by $index">
                  <p>{{item.contract_no}}</p>
                </div>
              </li>
              <li class="item4">
                <p class="box1" ng-repeat="item in item.orderGoodsBeans track by $index">
                  {{item.case_type}}<br> {{item.service_type}}
                </p>

              </li>
              <li class="item5">
                <p class="box1" ng-repeat="item in item.orderGoodsBeans track by $index">
                  {{item.service_progress_show}}
                </p>
              </li>
              <li class="item6">
                <p class="box1" ng-repeat="item in item.orderGoodsBeans track by $index">{{item.price}}</p>

              </li>
              <li class="item7 ">
                <a href="#/invoice/{{item.order_id}}" class="box1">申请发票</a> <br>
                <a href="#/cause/{{item.order_id}}" class="box2">申请退款</a><br>
                <a href="#/order_detail/{{item.order_id}}">订单详情</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="order_page" page_num="{{all_data.wait_send_count}}" page1>

        </div>
      </div>
    </div>
  </section>

  <!--尾部-->
  <ng-include src="'./common/footer.html'"  ></ng-include>

