

  <!--头部-->
  <!--<header id="header">
    <div class="head">
      <div class="login fl">
        <a href="javascript:;">
          <!--<img src="./assets/images/LOGO.png" alt="">-->
        <!--</a>
      </div>
      <div class="phone">
        <div class="phone_t">

          <p>免费咨询热线</p>
        </div>
        <div class="phone_b">
          <span>400-6236-000</span>
        </div>

      </div>
    </div>
  </header>-->
  <!-- 登录 -->
  <section id="login">
    <div class="login_con">
      <div class="login_top ">
        <p>还没账号？立即</p>
        <a href="#/register">注册</a>
      </div>
      <div class="login_center">
        <div class="login_pic clearfix">
          <img src="" alt="">
        </div>
        <div class="login_text">
          <input type="text" placeholder="请输入手机号码" autofocus="true">
        </div>
        <div class="pass">
          <input type="password" placeholder="请输入密码">
        </div>
        <div class="btn">
          <input type="submit" value="登录">
        </div>
        <a class="login_foot" href="javascript:;">忘记密码？</a>
      </div>
    </div>
  </section>
  <!--尾部-->
  <!--<footer id="footer">
    <div class="foot_top">
      <div class="links">
        <p class="fl">友情链接:</p>
        <ul>
          <li>
            <a href="">网站S</a>
          </li>
          <li>
            <a href="">网站S</a>
          </li>
          <li>
            <a href="">网站S</a>
          </li>
        </ul>
      </div>
      <div class="foot clearfix">
        <div class="ourselves fl">
          <ul>
            <li>
              <h3>关于我们</h3>
            </li>
            <li>公司简介</li>
            <li>公司简介</li>
            <li>公司简介</li>
            <li>公司简介</li>
          </ul>
        </div>
        <div class="help fl">
          <ul>
            <li>
              <h3>帮助中心</h3>
            </li>
            <li>售后服务</li>
            <li>售后服务</li>
            <li>售后服务</li>
            <li>售后服务</li>
          </ul>
        </div>
        <div class="news fl">
          <ul>
            <li>
              <h3>新闻中心</h3>
            </li>
            <li>售后服务</li>
            <li>售后服务</li>
            <li>售后服务</li>
            <li>售后服务</li>
          </ul>
        </div>
        <div class="service fl">
          <ul>
            <li>
              <h3>专题服务</h3>
            </li>
            <li>加盟合作</li>
            <li>加盟合作</li>
            <li>加盟合作</li>
            <li>加盟合作</li>
          </ul>
        </div>
        <div class="code ">
          <img src="../../assets/images/code.png" alt="">
          <h3 >400-6236-000</h3>
          <p>(周一到周日 9:30-22:00)</p>
        </div>
      </div>
    </div>
    <div class="foot_bottom">
      <p>Copyright © 2016 shantiandaxu.com 版权所有 北京创遇科技服务有限公司  京ICP备12009436号-1</p>
      <span>北京市西城区红莲南路57号中国印刷大厦5层 邮编：100055</span>
    </div>
  </footer>-->
