<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../assets/css/base.css">
  <link rel="stylesheet" href="../../assets/css/brand.css">
  <title>Document</title>
</head>
<body>
  <!--头部-->
  <header id="head">
    <div class="content ">
      <div class="left fl">
        <ul>
          <li>
            <a href="">关注山天大蓄</a>
          </li>
          <li>
            <a href="">商标分类查询</a>
          </li>
        </ul>
      </div>
      <div class="right fr">
        <ul>
          <li><a href="">登录</a></li>
          <li><a href="">注册</a></li>
          <li><a href=""> <span></span>购物车<p>(99)</p></a></li>
        </ul>
      </div>
    </div>

  </header>
  <!--导航-->
  <section id="nav">
    <div class="content">
      <div class="login fl">
        <a href="">
          <img src="../../assets/images/LOGO.png" alt="">
        </a>
      </div>
      <div class="search fr">
        <div class="query">
          <span></span>
          <ul>
            <li>专利查询</li>
          </ul>
        </div>
        <input type="text" name="" placeholder="输入专利名称">
        <input type="button" name="" value="">
        <i>
          <img src="../../assets/images/search.svg" alt="">
        </i>
      </div>
      <div class="bar">
        <ul class="">
          <li>
            <i></i> 知识产权服务
          </li>
          <li>首页</li>
          <li>商品注册</li>
          <li>专利申请</li>
          <li>版权登记</li>
          <li>驰名商标</li>
          <li>高薪认定</li>
          <li>商标评估</li>
          <li>山天智妍</li>
        </ul>
      </div>
    </div>

  </section>
</body>
</html>