<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../assets/css/base.css">
  <link rel="stylesheet" href="../../assets/css/main.css">
  <title>Document</title>
</head>

<body>
  <!--头部-->
  <header id="head">
    <div class="content ">
      <div class="left fl">
        <ul>
          <li>
            <a href="">关注山天大蓄</a>
          </li>
          <li>
            <a href="">商标分类查询</a>
          </li>
        </ul>
      </div>
      <div class="right fr">
        <ul>
          <li><a href="">登录</a></li>
          <li><a href="">注册</a></li>
          <li><a href=""> <span></span>购物车<p>(99)</p></a></li>
        </ul>
      </div>
    </div>

  </header>
  <!--导航-->
  <section id="nav">
    <div class="content">
      <div class="login fl">
        <a href="">
          <img src="../../assets/images/LOGO.png" alt="">
        </a>
      </div>
      <div class="search fr">
        <div class="query">
          <span></span>
          <ul>
            <li>专利查询</li>
          </ul>
        </div>
        <input type="text" name="" placeholder="输入专利名称">
        <input type="button" name="" value="">
        <i>
          <img src="../../assets/images/search.svg" alt="">
        </i>
      </div>
      <div class="bar">
        <ul class="">
          <li>
            <i></i> 知识产权服务
          </li>
          <li>首页</li>
          <li>商品注册</li>
          <li>专利申请</li>
          <li>版权登记</li>
          <li>驰名商标</li>
          <li>高薪认定</li>
          <li>商标评估</li>
          <li>山天智妍</li>
        </ul>
      </div>
    </div>

  </section>
  <!--广告-->
  <section id="banner">
    <div class="sidebar">
      <ul>
        <li>
          <h2>专利服务</h2>
          <p>授权担保</p>
          <i class="iconfont icon-arrowright"></i>
        </li>
        <li>
          <h2>专利服务</h2>
          <p>授权担保</p>
          <i class="iconfont icon-arrowright"></i>
        </li>
        <li>
          <h2>专利服务</h2>
          <p>授权担保</p>
          <i class="iconfont icon-arrowright"></i>
        </li>
        <li>
          <h2>专利服务</h2>
          <p>授权担保</p>
          <i class="iconfont icon-arrowright"></i>
        </li>
        <li>
          <h2>专利服务</h2>
          <p>授权担保</p>
          <i class="iconfont icon-arrowright"></i>
        </li>
      </ul>
    </div>
  </section>
  <!--热门推荐-->
  <section id="hot">
    <div class="content">
      <h3>热门推荐</h3>
      <div class="tags">
        <i></i>
        <h2>国内专利申请</h2>
        <p>专业风险评估，当日送至商标局</p>
        <span>¥ 680起</span>
        <img src="../../assets/images/homepage_pic_pre.png" alt="">
      </div>
      <div class="tags">
        <i></i>
        <h2>国内专利申请</h2>
        <p>专业风险评估，当日送至商标局</p>
        <span>¥ 680起</span>
        <img src="../../assets/images/homepage_pic_pre.png" alt="">
      </div>
      <div class="tags">
        <i></i>
        <h2>国内专利申请</h2>
        <p>专业风险评估，当日送至商标局</p>
        <span>¥ 680起</span>
        <img src="../../assets/images/homepage_pic_pre.png" alt="">
      </div>
      <div class="tags">
        <i></i>
        <h2>国内专利申请</h2>
        <p>专业风险评估，当日送至商标局</p>
        <span>¥ 680起</span>
        <img src="../../assets/images/homepage_pic_pre.png" alt="">
      </div>
      <div class="tags">
        <i></i>
        <h2>国内专利申请</h2>
        <p>专业风险评估，当日送至商标局</p>
        <span>¥ 680起</span>
        <img src="../../assets/images/homepage_pic_pre.png" alt="">
      </div>
      <div class="tags">
        <i></i>
        <h2>国内专利申请</h2>
        <p>专业风险评估，当日送至商标局</p>
        <span>¥ 680起</span>
        <img src="../../assets/images/homepage_pic_pre.png" alt="">
      </div>
      <div class="tags">
        <i></i>
        <h2>国内专利申请</h2>
        <p>专业风险评估，当日送至商标局</p>
        <span>¥ 680起</span>
        <img src="../../assets/images/homepage_pic_pre.png" alt="">
      </div>
      <div class="tags">
        <i></i>
        <h2>国内专利申请</h2>
        <p>专业风险评估，当日送至商标局</p>
        <span>¥ 680起</span>
        <img src="../../assets/images/homepage_pic_pre.png" alt="">
      </div>
    </div>

  </section>
  <!--为什么选择山天-->
  <section id="select">
    <div class="content">
      <h2>为什么选择山天大蓄</h2>
      <div class="brand">
        <img src="../../assets/images/homepage_pic_why.png" alt="">
        <h3>商标，优质低价</h3>
        <p>
          极速申报，超期退款 <br> 一对一专属顾问 <br> 10年服务经验的商标代理
        </p>
      </div>
      <div class="brand">
        <img src="../../assets/images/homepage_pic_why.png" alt="">
        <h3>商标，优质低价</h3>
        <p>
          极速申报，超期退款 <br> 一对一专属顾问 <br> 10年服务经验的商标代理
        </p>
      </div>
      <div class="brand">
        <img src="../../assets/images/homepage_pic_why.png" alt="">
        <h3>商标，优质低价</h3>
        <p>
          极速申报，超期退款 <br> 一对一专属顾问 <br> 10年服务经验的商标代理
        </p>
      </div>
      <div class="brand">
        <img src="../../assets/images/homepage_pic_why.png" alt="">
        <h3>商标，优质低价</h3>
        <p>
          极速申报，超期退款 <br> 一对一专属顾问 <br> 10年服务经验的商标代理
        </p>
      </div>
    </div>

  </section>
  <!--轮播图-->
  <section id="carousel">
    <div class="content">
      <h2>专业顾问团队</h2>
      <ul>
        <li class="major1">
          <div class="pic1">

          </div>
          <div class="person">
            <p>专家A<span>XX领域知名专家</span></p>
            <div class="text">
              <p>
                从明天起，做一个幸福的人 喂马、劈柴，周游世界 从明天起，关心粮食和蔬菜 我有一所房子，面朝大海，春暖花开 从明天起，和 每一个亲人通信 告诉他们我的幸福 那幸福的闪电告诉我的 我将告诉每一个人 给每一条河每一座山取一个温暖的名字 从明天起，做一个幸福的人
                喂马、劈柴，周游世界 从明天起，关心粮食和蔬菜 我有一所房子，面朝大海， 春暖花开
              </p>
            </div>
          </div>

        </li>
        <li class="major2">
          <div class="pic1">

          </div>
          <div class="person">
            <p>专家A</p>
            <div class="text">
              <p>
                从明天起，做一个幸福的人 喂马、劈柴，周游世界 从明天起，关心粮食和蔬菜 我有一所房子，面朝大海，春暖花开 从明天起，和 每一个亲人通信 告诉他们我的幸福 那幸福的闪电告诉我的 我将告诉每一个人 给每一条河每一座山取一个温暖的名字

              </p>
            </div>
          </div>

        </li>
        <li class="major3">
          <div class="pic1">

          </div>
          <div class="person">
            <p>专家A</p>
            <div class="text">
              <p>
                从明天起，做一个幸福的人 喂马、劈柴，周游世界 从明天起，关心粮食和蔬菜 我有一所房子，面朝大海，春暖花开 从明天起，和 每一个亲人通信 告诉他们我的幸福 那幸福的闪电告诉我的 我将告诉每一个人 给每一条河每一座山取一个温暖的名字

              </p>
            </div>
          </div>

        </li>
        <li class="major4">
          <div class="pic1">

          </div>
          <div class="person">
            <p>专家A</p>
            <div class="text">
              <p>
                从明天起，做一个幸福的人 喂马、劈柴，周游世界 从明天起，关心粮食和蔬菜 我有一所房子，面朝大海，春暖花开 从明天起，和 每一个亲人通信 告诉他们我的幸福 那幸福的闪电告诉我的 我将告诉每一个人 给每一条河每一座山取一个温暖的名字

              </p>
            </div>
          </div>

        </li>
        <li class="major5">
          <div class="pic1">

          </div>
          <div class="person">
            <p>专家A</p>
            <div class="text">
              <p>
                从明天起，做一个幸福的人 喂马、劈柴，周游世界 从明天起，关心粮食和蔬菜 我有一所房子，面朝大海，春暖花开 从明天起，和 每一个亲人通信 告诉他们我的幸福 那幸福的闪电告诉我的 我将告诉每一个人 给每一条河每一座山取一个温暖的名字

              </p>
            </div>
          </div>

        </li>

      </ul>
    </div>
  </section>
  <!--合作伙伴-->
  <section id="partner">
    <div class="content">
      <h2>合作伙伴</h2>
      <div class="bos">
        <img src="../../assets/images/homepage_pic_partner.png" alt="">
      </div>
    </div>

  </section>
   <!--尾部-->
  <footer id="footer">
    <div class="foot_top">
      <div class="links">
        <p class="fl">友情链接:</p>
        <ul>
          <li>
            <a href="">网站S</a>
          </li>
          <li>
            <a href="">网站S</a>
          </li>
          <li>
            <a href="">网站S</a>
          </li>
        </ul>
      </div>
      <div class="foot clearfix">
        <div class="ourselves fl">
          <ul>
            <li>
              <h3>关于我们</h3>
            </li>
            <li>公司简介</li>
            <li>公司简介</li>
            <li>公司简介</li>
            <li>公司简介</li>
          </ul>
        </div>
        <div class="help fl">
          <ul>
            <li>
              <h3>帮助中心</h3>
            </li>
            <li>售后服务</li>
            <li>售后服务</li>
            <li>售后服务</li>
            <li>售后服务</li>
          </ul>
        </div>
        <div class="news fl">
          <ul>
            <li>
              <h3>新闻中心</h3>
            </li>
            <li>售后服务</li>
            <li>售后服务</li>
            <li>售后服务</li>
            <li>售后服务</li>
          </ul>
        </div>
        <div class="service fl">
          <ul>
            <li>
              <h3>专题服务</h3>
            </li>
            <li>加盟合作</li>
            <li>加盟合作</li>
            <li>加盟合作</li>
            <li>加盟合作</li>
          </ul>
        </div>
        <div class="code ">
          <img src="../../assets/images/code.png" alt="">
          <h3 >400-6236-000</h3>
          <p>(周一到周日 9:30-22:00)</p>
        </div>
      </div>
    </div>
    <div class="foot_bottom">
      <p>Copyright © 2016 shantiandaxu.com 版权所有 北京创遇科技服务有限公司  京ICP备12009436号-1</p>
      <span>北京市西城区红莲南路57号中国印刷大厦5层 邮编：100055</span>
    </div>
  </footer>
</body>

</html>