
<!--头部-->
<section id="head">
  <div class="content ">
    <div class="left fl">
      <ul>
        <li>
          <a href="">关注山天大蓄</a>
        </li>
        <li>
          <a href="">商标分类查询</a>
        </li>
      </ul>
    </div>
    <div class="right fr">
      <ul>

        <li ><a href="#/personage" ng-if="phone" ng-bind="phone"></a></li>
        <li ><a href="#/login" ng-hide="phone">登录</a></li>
        <li ><a href="#/register" ng-hide="phone" >注册</a></li>
        <li><a href="#/shop" ng-if="phone"> <span></span>购物车<p >({{cart_num}})</p></a></li>
      </ul>
    </div>
  </div>

</section>
<!--导航-->
<section id="nav">
  <div class="content">
    <div class="login fl">
      <a href="">
        <img src="./assets/images/LOGO.png" alt="">
      </a>
    </div>
    <div class="search fr">
      <div class="query">
        <ul>
          <li><select name="">
            <option value="1">注册号码</option>
            <option value="2">商品名称</option>
            <option value="3">申请人</option>
          </select></li>
        </ul>
      </div>
      <input class="text_con" type="text" name="" placeholder="请输入相关内容">
      <input type="button" name="" value="" >
      <i ng-click="search()">
        <img src="./assets/images/homepage_icon_glass.png" alt="">
      </i>
    </div>
    <div class="bar">
      <ul class="" home-light>
        <li>
          <a href=""><i></i> 知识产权服务</a>
        </li>
        <li class="list_high">
          <a class="sw_one" href="#/">首页</a>
        </li>
        <li class="list_high">
          <a href="#/brand/1/1/2">商品注册</a>
        </li>
        <li class="list_high">
          <a href="#/patent/4/38/3">专利申请</a>
        </li>
        <li class="list_high">
          <a href="#/other/6/83/4">版权登记</a>
        </li>
        <li class="list_high">
          <a href="#/brand/2/26/5">驰名商标</a>
        </li>
        <li class="list_high">
          <a href="#/other/13/89/6">高薪认定</a>
        </li>
        <li class="list_high">
          <a href="http://st.yinhenet.com/">商标评估</a>
        </li>
        <li class="list_high">
          <a href="#/zhiYan/8">山天智妍</a>
        </li>
      </ul>
    </div>

  </div>

</section>
  <!--广告-->
  <section id="banner" >
    <div class="slider">
      <div class="itmes" >
        <ul>
          <li ng-repeat="item in pic track by $index" on-finish-render-filters>
            <img src="{{item.banner_img}}" alt=""/>
          </li>
        </ul>
      </div>
      <div class="list" >
        <i class="current">1</i>
        <i>2</i>
        <i>3</i>
        <i>4</i>
        <i>5</i>
      </div>
      <div class="sidebar" show-banner2>
        <ul class="sidebar_left">
          <li ng-repeat="item in serve_lists track by $index" show-banner1 >
              <h2>{{item.class_desc}}</h2>
              <p>{{item.class_name}}</p>
              <i ></i>
          </li>

        </ul>
        <div class="right"  >
          <div class="show_banner">
            <div class="show_right">
              <ul >
                <li>
                  <a href="#/brand/{{brand[0].goods_id}}/0/2">{{brand[0].goods_name}} <i></i> </a>
                </li>
                <li >
                  <a href="#/brand/{{item.goods_id}}/{{item.specification_id}}/2" ng-repeat="item in brand[0].goodsSpecificationBeans track by $index">{{item.specificationBeans[0].specification_name}}</a>
                </li>

              </ul>
              <ul >
                <li>
                  <a href="#/brand/{{brand[1].goods_id}}/26/5">{{brand[1].goods_name}} <i></i> </a>
                </li>
                <li>
                  <a href="#/brand/{{item.goods_id}}/{{item.specification_id}}/5"  ng-repeat="item in brand[1].goodsSpecificationBeans track by $index">{{item.specificationBeans[0].specification_name}}</a>
                </li>

              </ul>
              <ul >
                <li>
                  <a href="#/brand/{{brand[2].goods_id}}/0/2">{{brand[2].goods_name}} <i></i> </a>
                </li>
                <li>
                  <a href="#/brand/{{item.goods_id}}/{{item.specification_id}}/2"  ng-repeat="item in brand[2].goodsSpecificationBeans track by $index">{{item.specificationBeans[0].specification_name}}</a>
                </li>

              </ul>
            </div>

          </div>
          <div class="show_banner">

            <div class="show_right">
              <ul >
                <li>
                  <a href="#/patent/{{brand2[0].goods_id}}/0/3">{{brand2[0].goods_name}} <i></i> </a>
                </li>
                <li >
                  <a href="#/patent/{{item.goods_id}}/{{item.specification_id}}/3" ng-repeat="item in brand2[0].goodsSpecificationBeans  track by $index">{{item.specificationBeans[0].specification_name}}</a>
                </li>

              </ul>
              <ul >
                <li>
                  <a href="#/patent/{{brand2[1].goods_id}}/0/3">{{brand2[1].goods_name}} <i></i> </a>
                </li>
                <li>
                  <a href="#/patent/{{item.goods_id}}/{{item.specification_id}}/3" ng-repeat="item in brand2[1].goodsSpecificationBeans  track by $index">{{item.specificationBeans[0].specification_name}}</a>
                </li>

              </ul>

            </div>

          </div>
          <div class="show_banner">
            <div class="show_right">
              <ul >
                <li>
                  <a href="#/other/{{brand3[0].goods_id}}/0/4">{{brand3[0].goods_name}} <i></i> </a>
                </li>
                <li >
                  <a href="#/other/{{brand3[0].goods_id}}/{{item.specification_id}}/4"  ng-repeat="item in brand3[0].goodsSpecificationBeans track by $index">{{item.specificationBeans[0].specification_name}}</a>
                </li>

              </ul>
            </div>

          </div>
          <div class="show_banner">

            <div class="show_right">
              <ul >
                <li>
                  <a href="#/other/{{brand4[0].goods_id}}/0/3">{{brand4[0].goods_name}} <i></i> </a>
                </li>
                <li >
                  <a href="#/other/{{brand4[0].goods_id}}/{{item.specification_id}}/3"  ng-repeat="item in brand4[0].goodsSpecificationBeans track by $index">{{item.specificationBeans[0].specification_name}}</a>
                </li>

              </ul>
              <ul >
                <li>
                  <a href="#/other/{{brand4[1].goods_id}}/0/3">{{brand4[1].goods_name}} <i></i> </a>
                </li>
                <li>
                  <a href="#/other/{{brand4[1].goods_id}}/{{item.specification_id}}/3"  ng-repeat="item in brand4[1].goodsSpecificationBeans track by $index">{{item.specificationBeans[0].specification_name}}</a>
                </li>

              </ul>
              <ul >
                <li>
                  <a href="#/other/{{brand4[2].goods_id}}/0/3">{{brand4[2].goods_name}} <i></i> </a>
                </li>
                <li>
                  <a href="#/other/{{brand4[2].goods_id}}/{{item.specification_id}}/3"  ng-repeat="item in brand4[2].goodsSpecificationBeans track by $index">{{item.specificationBeans[0].specification_name}}</a>
                </li>

              </ul>
            </div>

          </div>
          <div class="show_banner">
            <div class="show_right">
              <ul >
                <li>
                  <a href="#/other/{{brand5[0].goods_id}}/0/7">{{brand5[0].goods_name}} <i></i> </a>
                </li>
                <li >
                  <a href="#/other/{{brand5[0].goods_id}}/{{item.specification_id}}/7"  ng-repeat="item in brand5[0].goodsSpecificationBeans track by $index">{{item.specificationBeans[0].specification_name}}</a>
                </li>

              </ul>
              <ul >
                <li>
                  <a href="#/other/{{brand5[1].goods_id}}/0/7">{{brand5[1].goods_name}} <i></i> </a>
                <li>
                  <a href="#/other/{{brand5[1].goods_id}}/{{item.specification_id}}/7"  ng-repeat="item in brand5[1].goodsSpecificationBeans track by $index">{{item.specificationBeans[0].specification_name}}</a>
                </li>

              </ul>
              <ul >
                <li>
                  <a href="#/other/{{brand5[2].goods_id}}/0/6">{{brand5[2].goods_name}} <i></i> </a>
                <li>
                  <a href="#/other/{{brand5[2].goods_id}}/{{item.specification_id}}/6"  ng-repeat="item in brand5[2].goodsSpecificationBeans track by $index">{{item.specificationBeans[0].specification_name}}</a>
                </li>
              </ul>
              <ul >
                <li>
                  <a href="#/other/{{brand5[3].goods_id}}/0/6">{{brand5[3].goods_name}} <i></i> </a>
                </li>
                <li>
                  <a href="#/other/{{brand5[3].goods_id}}/{{item.specification_id}}/6"  ng-repeat="item in brand5[3].goodsSpecificationBeans track by $index">{{item.specificationBeans[0].specification_name}}</a>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>



    </div>
  </section>
  <!--热门推荐-->
  <section id="hot">
    <div class="content">
      <h3>热门推荐</h3>
      <a ng-href="{{item.goods_id < '4'?'#/brand/':'#/patent/' }}{{item.goods_id}}/{{item.specification_id}}/{{item.goods_id < '4'? '2':'3'}}"
         ng-repeat="item in hot_list | limitTo : 8 track by $index" >
        <div class="tags">
          <i></i>
          <h2>{{item.goodsBean.goods_name}}</h2>
          <p>{{item.recommend_info}}</p>
          <span>¥ {{item.goodsBean.goods_price}}起</span>
          <img src="./assets/images/homepage_pic_pre.png" alt="">
        </div>
      </a>

    </div>

  </section>
  <!--为什么选择山天-->
  <section id="select">
    <div class="content">
      <h2>为什么选择山天大蓄</h2>
      <div class="brand" ng-repeat="item in why_check track by $index">
        <img src="{{item.img}}" alt="">
        <h3>{{item.title}}</h3>
        <p>
          {{item.content}}
        </p>
      </div>

    </div>

  </section>
  <!--轮播图-->
  <section id="carousel" carousel>
    <div class="content">
      <h2>专业顾问团队</h2>
      <ul>
        <li class="major1"  >
          <div class="pic1">
            <img src="{{counselor[0].head_img}}" alt=""/>
          </div>
          <div class="person">
            <p>{{counselor[0].name}}<span>{{counselor[0].position}}</span></p>
            <div class="text">
              <p>
                {{counselor[0].info}}
              </p>
            </div>
          </div>

        </li>
        <li class="major2">
          <div class="pic1">
            <img src="{{counselor[1].head_img}}" alt=""/>
          </div>
          <div class="person">
            <p>{{counselor[1].name}}<span>{{counselor[1].position}}</span></p>
            <div class="text">
              <p>
                {{counselor[1].info}}
              </p>
            </div>
          </div>
        </li>
        <li class="major3">
          <div class="pic1">
            <img src="{{counselor[2].head_img}}" alt=""/>
          </div>
          <div class="person">
            <p>{{counselor[2].name}}<span>{{counselor[2].position}}</span></p>
            <div class="text">
              <p>
                {{counselor[2].info}}
              </p>
            </div>

        </li>
        <li class="major4">
          <div class="pic1">
            <img src="{{counselor[3].head_img}}" alt=""/>
          </div>
          <div class="person">
            <p>{{counselor[3].name}}<span>{{counselor[3].position}}</span></p>
            <div class="text">
              <p>
                {{counselor[3].info}}
              </p>
            </div>

        </li>
        <li class="major5">
          <div class="pic1">
            <img src="{{counselor[4].head_img}}" alt=""/>
          </div>
          <div class="person">
            <p>{{counselor[4].name}}<span>{{counselor[4].position}}</span></p>
            <div class="text">
              <p>
                {{counselor[4].info}}
              </p>
            </div>

        </li>

      </ul>
    </div>
  </section>
  <!--合作伙伴-->
  <section id="partner">
    <div class="content">
      <h2>合作伙伴</h2>
      <div class="bos">
        <a href="{{item.url}}" title="{{item.title}}" ng-repeat="item in friend_list track by $index">
          <img src="{{item.img}}" alt=""/>
        </a>
      </div>
    </div>

  </section>
<!--尾部-->
<ng-include src="'./common/footer.html'"  ></ng-include>

