<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../assets/css/base.css">
  <link rel="stylesheet" href="../../assets/css/patent.css">
  <title>Document</title>
</head>

<body>
  <!--头部-->
  <header id="head">
    <div class="content ">
      <div class="left fl">
        <ul>
          <li>
            <a href="">关注山天大蓄</a>
          </li>
          <li>
            <a href="">商标分类查询</a>
          </li>
        </ul>
      </div>
      <div class="right fr">
        <ul>
          <li><a href="">登录</a></li>
          <li><a href="">注册</a></li>
          <li><a href=""> <span></span>购物车<p>(99)</p></a></li>
        </ul>
      </div>
    </div>

  </header>
  <!--导航-->
  <section id="nav">
    <div class="content">
      <div class="login fl">
        <a href="">
          <img src="../../assets/images/LOGO.png" alt="">
        </a>
      </div>
      <div class="search fr">
        <div class="query">
          <span></span>
          <ul>
            <li>专利查询</li>
          </ul>
        </div>
        <input type="text" name="" placeholder="输入专利名称">
        <input type="button" name="" value="">
        <i>
          <img src="../../assets/images/search.svg" alt="">
        </i>
      </div>
      <div class="bar">
        <ul class="">
          <li>
            <i></i> 知识产权服务
          </li>
          <li>首页</li>
          <li>商品注册</li>
          <li>专利申请</li>
          <li>版权登记</li>
          <li>驰名商标</li>
          <li>高薪认定</li>
          <li>商标评估</li>
          <li>山天智妍</li>
        </ul>
      </div>
    </div>

  </section>
  <!--国际专利-->
  <section id="shopping">
    <div class="content ">
      <p>专利申请 <i class="iconfont icon-arrowright"></i> 国际专利</p>
      <div class="left fl">
        图片
      </div>
      <div class="center fl">
        <h2>国际专利</h2>
        <div class="case clearfix">
          <p>案件类型</p>
          <ul>
            <li>普通商标注册</li>
            <li>普通商标注册</li>
            <li>普通商标注册</li>
            <li class="case4">普通商标注册</li>
            <li>普通商标注册</li>
            <li>商标变更</li>
            <li>商标变更</li>
          </ul>
        </div>
        <div class="service clearfix">
          <p>服务类型</p>
          <ul>
            <li>标准服务</li>
            <li>标准服务</li>
          </ul>
        </div>
        <div class="items clearfix">
          <p>官费缴纳</p>
          <ul>
            <li>
              暂不缴纳
            </li>
            <li>
              缴纳
            </li>
        
          </ul>
        </div>
        <div class="number">
          <p>数量<span>99</span></p>
        </div>
        <div class="total">
          <p>费用合计<span>¥ 1000</span></p>
        </div>
        <div class="btn">
          <a href="" class="btn1">立即购买</a>
          <a href="" class="btn2">加入购物车</a>
        </div>
      </div>
      <div class="right fr">
        <h3>服务者形象展示</h3>
        <div class="figure">
          <div class="images">
            <img src="" alt="">
          </div>
          <p>专家A</p>
          <span>专利资深顾问</span> <br>
          <i>联系电话：400-6236-000</i>
          <a href="">在线咨询</a>
        </div>
      </div>
    </div>
  </section>
  <!--产品介绍-->
  <section id="product">
    <div class="content">
      <div class="left fl">
        <h3>相关产品</h3>
        <div class="inland">
          <p>国内商标 <i></i></p>
          <ul>
            <li>发明专利</li>
            <li>实用新型</li>
            <li>外观设计</li>
          </ul>
        </div>
         <div class="internation">
          <p>国际商标 <i></i></p>
          <ul>
            <li>巴黎公约国家申请</li>
            <li>欧盟专利申请</li>
            <li>欧盟专利申请</li>
            <li>欧盟专利申请</li>
          </ul>
        </div>
         <div class="difficult">
          <p>专利疑难案件 <i></i></p>
          <ul>
            <li>专利申请复审</li>
            <li>专利申请复审</li>
            <li>专利申请复审</li>
            <li>专利申请复审</li>
          </ul>
        </div>
      </div>
      <div class="right fr">
        <div class="nav">
          <ul>
            <li class="select">业务介绍</li>
            <li>服务保障</li>
            <li>公司优势</li>
            <li>常见问题</li>
            <li>用户评价</li>
          </ul>
          
        </div>
        <div class="introduce">
          <div class="nav2">
            <ul>
              <li class="cur">申请流程</li>
              <li> 申请费用</li>
              <li>申请材料</li>
              <li>服务保障</li>
              <li>常见问题</li>
            </ul>
            
          </div>
        </div>
      </div>
    </div>

  </section>
   <!--尾部-->
  <footer id="footer">
    <div class="foot_top">
      <div class="links">
        <p class="fl">友情链接:</p>
        <ul>
          <li>
            <a href="">网站S</a>
          </li>
          <li>
            <a href="">网站S</a>
          </li>
          <li>
            <a href="">网站S</a>
          </li>
        </ul>
      </div>
      <div class="foot clearfix">
        <div class="ourselves fl">
          <ul>
            <li>
              <h3>关于我们</h3>
            </li>
            <li>公司简介</li>
            <li>公司简介</li>
            <li>公司简介</li>
            <li>公司简介</li>
          </ul>
        </div>
        <div class="help fl">
          <ul>
            <li>
              <h3>帮助中心</h3>
            </li>
            <li>售后服务</li>
            <li>售后服务</li>
            <li>售后服务</li>
            <li>售后服务</li>
          </ul>
        </div>
        <div class="news fl">
          <ul>
            <li>
              <h3>新闻中心</h3>
            </li>
            <li>售后服务</li>
            <li>售后服务</li>
            <li>售后服务</li>
            <li>售后服务</li>
          </ul>
        </div>
        <div class="service fl">
          <ul>
            <li>
              <h3>专题服务</h3>
            </li>
            <li>加盟合作</li>
            <li>加盟合作</li>
            <li>加盟合作</li>
            <li>加盟合作</li>
          </ul>
        </div>
        <div class="code ">
          <img src="../../assets/images/code.png" alt="">
          <h3 >400-6236-000</h3>
          <p>(周一到周日 9:30-22:00)</p>
        </div>
      </div>
    </div>
    <div class="foot_bottom">
      <p>Copyright © 2016 shantiandaxu.com 版权所有 北京创遇科技服务有限公司  京ICP备12009436号-1</p>
      <span>北京市西城区红莲南路57号中国印刷大厦5层 邮编：100055</span>
    </div>
  </footer>
</body>

</html>