<!--头部-->
<div ng-include="'./common/head_nav.html'"></div>

  <!--搜索结果-->
  <section id="search_main">
    <div class="content">
      <div class="result">
        <p>搜索结果</p>
        <div class="search_nav">
          <ul>
            <li>序号</li>
            <li>商标图案</li>
            <li>注册号</li>
            <li>类别</li>
            <li>商标名称</li>
            <li>申请人</li>
            <li>详情查询</li>
          </ul>
        </div>
        <div class="search_con">
          <ul>
            <li>1</li>
            <li>
              <div class="imgs">

              </div>
            </li>
            <li>
              1748594033
            </li>
            <li>
              第1类
            </li>
            <li>
              黄灵支护
            </li>
            <li>
              张久雨
            </li>
            <li>
              <a href="#/trad_detail">点击查看</a>
            </li>
          </ul>
        </div>
        <div class="search_con">
          <ul>
            <li>1</li>
            <li>
              <div class="imgs">

              </div>
            </li>
            <li>
              1748594033
            </li>
            <li>
              第1类
            </li>
            <li>
              黄灵支护
            </li>
            <li>
              张久雨
            </li>
            <li>
              <a href="">点击查看</a>
            </li>
          </ul>
        </div>
        <div class="search_con">
          <ul>
            <li>1</li>
            <li>
              <div class="imgs">

              </div>
            </li>
            <li>
              1748594033
            </li>
            <li>
              第1类
            </li>
            <li>
              黄灵支护
            </li>
            <li>
              张久雨
            </li>
            <li>
              <a href="">点击查看</a>
            </li>
          </ul>
        </div>
        <div class="search_con">
          <ul>
            <li>1</li>
            <li>
              <div class="imgs">

              </div>
            </li>
            <li>
              1748594033
            </li>
            <li>
              第1类
            </li>
            <li>
              黄灵支护
            </li>
            <li>
              张久雨
            </li>
            <li>
              <a href="">点击查看</a>
            </li>
          </ul>
        </div>
        <div class="search_con">
          <ul>
            <li>1</li>
            <li>
              <div class="imgs">

              </div>
            </li>
            <li>
              1748594033
            </li>
            <li>
              第1类
            </li>
            <li>
              黄灵支护
            </li>
            <li>
              张久雨
            </li>
            <li>
              <a href="">点击查看</a>
            </li>
          </ul>
        </div>
        <div class="page" >

        </div>
      </div>
    </div>
  </section>
<!--尾部-->
<ng-include src="'./common/footer.html'"  ></ng-include>


