<!--头部-->
<div ng-include="'./common/head_nav.html'"></div>

  <!--搜索结果-->
  <section id="search_main">
    <div class="content">
      <div class="result">
        <p>搜索结果</p>
        <div class="search_nav">
          <ul>
            <li>序号</li>
            <li>商标图案</li>
            <li>注册号</li>
            <li>类别</li>
            <li>商标名称</li>
            <li>申请人</li>
            <li>详情查询</li>
          </ul>
        </div>
        <div class="search_con" ng-repeat="item in search_lists track by $index">
          <ul>
            <li>{{$index + 1}}</li>
            <li>
              <div class="imgs">
                <img src="{{item.tmimage}}" alt=""/>
              </div>
            </li>
            <li>
              <span>{{item.regno}}</span>
            </li>
            <li>
              {{item.intcls}}
            </li>
            <li>
              <span>{{item.tmname}}</span>
            </li>
            <li>
              <span>{{item.appname}}</span>
            </li>
            <li>
              <a href="#/trad_detail/{{item.intcls}}/{{item.regno}}">点击查看</a>
            </li>
          </ul>
        </div>
        <div class="page" search-page >

        </div>
      </div>
      <div class="hint">
        <div class="login_msg">
          <p ng-bind="msg"></p>
        </div>
      </div>
    </div>
  </section>
<!--尾部-->
<ng-include src="'./common/footer.html'"  ></ng-include>


