<!--头部-->
<div ng-include="'./common/head_nav.html'"></div>
  <!--主题-->
  <section id="trademarkDetail">
    <div class="content">
      <div class="con">
        <p>商标详情</p>
        <div class="detail" >
            <ul>
              <li>
                <p>商标名称</p>
                <span>{{trad_detail.tmname}}</span>
              </li>
              <li>
                <p>商标注册地址</p>
                <span>{{trad_detail.appaddr}}</span>
              </li>
              <li>
                <p>申请人信息</p>
                <span>{{trad_detail.appname}}</span>
              </li>
              <li>
                <p>代理机构信息</p>
                <span>{{trad_detail.agentname}}</span>
              </li>
              <li>
                <p>使用项目信息</p>
                <span>{{trad_detail.tmgoods}}</span>
              </li>
              <li>
                <p>使用项目状态</p>
                <span>{{trad_detail.tmlaw}}</span>
              </li>
            </ul>
        </div>
      </div>
    </div>
    <!--主题-->
  </section>
<!--尾部-->
<ng-include src="'./common/footer.html'"  ></ng-include>