#head {
  width: 100%;
  height: 30px;
  background: #F5F5F5;
  border-bottom: 1px solid #d7474c;
}
#head .content {
  width: 1200px;
  height: 30px;
  position: relative;
  margin: 0 auto;
  line-height: 30px;
}
#head .content .left li {
  float: left;
}
#head .content .left li a {
  color: #333;
  font-weight: 700;
  padding: 0 20px 0 0;
  border-right: 2px solid #d3d3d3;
}
#head .content .left li:nth-child(2) a {
  padding-left: 20px;
  border-right: none;
}
#head .content .right li {
  float: left;
}
#head .content .right li a {
  color: #333;
  font-weight: 700;
  padding: 0 20px ;
  border-right: 2px solid #d3d3d3;
}
#head .content .right li:nth-child(3) {
  height: 30px;
}
#head .content .right li:nth-child(3) a {
  padding: 0;
  padding-right: 30px;
  padding-left: 48px;
  border-right: none;
}
#head .content .right li:nth-child(3) a p {
  color: #d7474c;
  position: absolute;
  right: 0;
  top: 0px;
}
#head .content .right li:nth-child(3) a span {
  position: absolute;
  top: 5px;
  right: 80px;
  width: 18px;
  height: 16px;
  background: url('../images/homepage_icon_cart.png') no-repeat;
}
#nav {
  width: 100%;
  background-color: #fff;
}
#nav .content {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  height: 140px;
  overflow: hidden;
}
#nav .content .login {
  margin: 10px 0;
}
#nav .content .login a img {
  width: 120px;
}
#nav .content .search {
  width: 550px;
  height: 45px;
  border: 1px solid #D7474C;
  position: relative;
  top: 20px;
  right: 300px;
  overflow: hidden;
}
#nav .content .search .query {
  box-sizing: border-box;
  padding-left: 5px;
  width: 80px;
  line-height: 45px;
  background: #f6f6f6;
  font-family: PingFangSC-Medium;
  font-size: 12px;
  font-weight: 700;
  color: #666;
  position: absolute;
  z-index: 99;
}
#nav .content .search .query span {
  position: absolute;
  background: url('../images/buypage_choose_down.png') no-repeat;
  width: 15px;
  height: 10px;
  top: 20px;
  left: 60px;
}
#nav .content .search input[type="text"] {
  position: absolute;
  width: 550px;
  height: 45px;
  top: 0;
  box-sizing: border-box;
  padding-left: 90px;
}
#nav .content .search input[type="button"] {
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 45px;
  background: #D7474C;
  z-index: 1;
}
#nav .content .search i {
  position: absolute;
  width: 28px;
  height: 25px;
  top: 10px;
  right: 18px;
  z-index: 99;
}
#nav .content .search i img {
  width: 28px;
  height: 25px;
}
#nav .content .bar {
  height: 30px;
  top: 100px;
}
#nav .content .bar ul {
  position: absolute;
  left: 0;
  top: 100px;
}
#nav .content .bar ul li {
  height: 40px;
  box-sizing: border-box;
  line-height: 40px;
  float: left;
  font-family: PingFangSC-Medium;
  color: #333;
  font-weight: 600;
  padding: 0 29px;
  font-size: 18px;
}
#nav .content .bar ul li:nth-child(1) {
  padding-left: 45px;
  border: 1px solid #B7292E;
  padding-right: 57px;
}
#nav .content .bar ul li:nth-child(2) {
  color: #d7474c;
}
#nav .content .bar ul li:nth-child(9) {
  padding-right: 0;
}
#nav .content .bar ul li i {
  background: url('../images/homepage_icon_clas.png') no-repeat;
  position: absolute;
  width: 28px;
  height: 20px;
  top: 15px;
  left: 12px;
}
