#header {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #ee6723;
  box-shadow: 0 1px 1px 0;
}
#header .head {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
#header .head .login {
  position: absolute;
  top: 19px;
  left: 200px;
}
#header .head .login a {
  display: inline-block;
  width: 186px;
  height: 62px;
  background: url('../images/LOGO.png') no-repeat;
}
#header .head .phone {
  position: relative;
  line-height: 100px;
}
#header .head .phone .phone_t {
  position: absolute;
  right: 340px;
}
#header .head .phone .phone_t p {
  color: #B2B2B2;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 400;
}
#header .head .phone .phone_b {
  position: absolute;
  right: 200px;
}
#header .head .phone .phone_b span {
  color: #D0021B ;
  font-size: 18px;
  font-weight: 700;
}
#login{
  width:100%;
  height:800px;
  background:#F3F3F3;  
  overflow: hidden;
}
#login .login_con{
  width:600px;
  margin: 0 auto;
  margin-top: 100px;
  height: 580px;
  background: #fff;

}
#login .login_con .login_top{
  padding-left: 470px;
  padding-top: 20px;
}
#login .login_con .login_top p{
  color: #B2B2B2;
  display: inline-block;
}
#login .login_con .login_top a{
  color: #F70000;
  font-weight: 700;

}
#login .login_center{
  width: 400px;
  margin: 0 auto; 
  text-align: center;
}
#login .login_pic{
    width: 120px;
    height: 120px;
    margin: 20px auto;
    border-radius: 50% ;
    background: #f70000;

}
#login .login_text input {
  height: 70px;
  width: 400px;
  background: rgba(192,186,186,0.70);
  box-shadow: inset 0 1px 2px 0 ;
  border-radius: 10px;
  margin-bottom: 20px;
}
#login .pass input{
  height: 70px;
  width: 400px;
  background: rgba(192,186,186,0.70);
  box-shadow: inset 0 1px 2px 0 ;
  border-radius: 10px;
  margin-bottom: 20px;
}
#login .btn input {
  width: 150px;
  height: 66px;
  background-image: linear-gradient(-180deg, #F4F4F4 33%, #DFDFDF 100%);
  box-shadow: 0 2px 2px 0 ;
  background: rgba(184,173,173,0.50);
  border-radius: 15px;
  margin-bottom: 20px;  
  color: #f70000;
  font-size: 20px;
  font-weight: 700;
}
#login .login_foot{
  color: #f70000;
  text-decoration: underline  ;
}
