#head {
  width: 100%;
  height: 30px;
  background: #F5F5F5;
  border-bottom: 1px solid #d7474c;
}
#head .content {
  width: 1200px;
  height: 30px;
  position: relative;
  margin: 0 auto;
  line-height: 30px;
}
#head .content .left li {
  float: left;
}
#head .content .left li a {
  color: #333;
  font-weight: 700;
  padding: 0 20px 0 0;
  border-right: 2px solid #d3d3d3;
}
#head .content .left li:nth-child(2) a {
  padding-left: 20px;
  border-right: none;
}
#head .content .right li {
  float: left;
}
#head .content .right li a {
  color: #333;
  font-weight: 700;
  padding: 0 20px ;
  border-right: 2px solid #d3d3d3;
}
#head .content .right li:nth-child(3) {
  height: 30px;
}
#head .content .right li:nth-child(3) a {
  padding: 0;
  padding-right: 30px;
  padding-left: 48px;
  border-right: none;
}
#head .content .right li:nth-child(3) a p {
  color: #d7474c;
  position: absolute;
  right: 0;
  top: 0px;
}
#head .content .right li:nth-child(3) a span {
  position: absolute;
  top: 5px;
  right: 80px;
  width: 18px;
  height: 16px;
  background: url('../images/homepage_icon_cart.png') no-repeat;
}
#nav {
  width: 100%;
  background-color: #fff;
}
#nav .content {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  height: 140px;
  overflow: hidden;
}
#nav .content .login {
  margin: 10px 0;
}
#nav .content .login a img {
  width: 120px;
}
#nav .content .search {
  width: 550px;
  height: 45px;
  border: 1px solid #D7474C;
  position: relative;
  top: 20px;
  right: 300px;
  overflow: hidden;
}
#nav .content .search .query {
  box-sizing: border-box;
  padding-left: 5px;
  width: 80px;
  line-height: 45px;
  background: #f6f6f6;
  font-family: PingFangSC-Medium;
  font-size: 12px;
  font-weight: 700;
  color: #666;
  position: absolute;
  z-index: 99;
}
#nav .content .search .query span {
  position: absolute;
  background: url('../images/buypage_choose_down.png') no-repeat;
  width: 15px;
  height: 10px;
  top: 20px;
  left: 60px;
}
#nav .content .search input[type="text"] {
  position: absolute;
  width: 550px;
  height: 45px;
  top: 0;
  box-sizing: border-box;
  padding-left: 90px;
}
#nav .content .search input[type="button"] {
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 45px;
  background: #D7474C;
  z-index: 1;
}
#nav .content .search i {
  position: absolute;
  width: 28px;
  height: 25px;
  top: 10px;
  right: 18px;
  z-index: 99;
}
#nav .content .search i img {
  width: 28px;
  height: 25px;
}
#nav .content .bar {
  height: 30px;
  top: 100px;
}
#nav .content .bar ul {
  position: absolute;
  width: 1200px;
  left: 0;
  top: 100px;
}
#nav .content .bar ul li {
  height: 40px;
  box-sizing: border-box;
  line-height: 40px;
  float: left;
  font-family: PingFangSC-Medium;
  color: #333;
  font-weight: 600;
  padding: 0 32px;
  font-size: 17px;
}
#nav .content .bar ul li:nth-child(1) {
  padding-left: 45px;
  border: 1px solid #B7292E;
  padding-right: 57px;
  color: #d7474c;
}
#nav .content .bar ul li:nth-child(4) {
  color: #d7474c;
}
#nav .content .bar ul li:nth-child(9) {
  padding-right: 0;
}
#nav .content .bar ul li i {
  background: url('../images/homepage_icon_clas.png') no-repeat;
  position: absolute;
  width: 28px;
  height: 20px;
  top: 15px;
  left: 12px;
}
#shopping {
  width: 100%;
  background: #fff;
  margin-top: 10px;
}
#shopping .content {
  width: 1200px;
  height: 580px;
  margin: 0 auto;
  overflow: hidden;
}
#shopping .content p {
  font-size: 16px;
  color: #666;
  font-weight: 700;
}
#shopping .content .left {
  width: 450px;
  height: 450px;
  background: pink;
}
#shopping .content .center {
  width: 520px;
  height: 600px;
  box-sizing: border-box;
  padding: 0 15px;
}
#shopping .content .center h2 {
  font-size: 28px;
  color: #333;
}
#shopping .content .center .case p {
  margin: 10px 0;
  font-size: 14px;
  color: #333;
}
#shopping .content .center .case ul li {
  width: 112px;
  height: 34px;
  float: left;
  box-sizing: border-box;
  border: 1px solid #B2B2B2;
  border-radius: 2px;
  line-height: 34px;
  font-size: 14px;
  text-align: center;
  font-weight: 700;
  margin-right: 14px;
  margin-bottom: 10px;
}
#shopping .content .center .case ul .case4 {
  margin-right: 0px;
}
#shopping .content .center .service p {
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
}
#shopping .content .center .service ul li {
  width: 112px;
  height: 34px;
  float: left;
  box-sizing: border-box;
  border: 1px solid #B2B2B2;
  border-radius: 2px;
  line-height: 34px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  margin-right: 14px;
  margin-bottom: 10px;
}
#shopping .content .center .items p {
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
}
#shopping .content .center .items ul li {
  width: 112px;
  height: 34px;
  float: left;
  box-sizing: border-box;
  border: 1px solid #B2B2B2;
  border-radius: 2px;
  line-height: 34px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  margin-right: 14px;
  margin-bottom: 10px;
  position: relative;
}
#shopping .content .center .items ul li img {
  width: 12px;
  position: absolute;
  right: 20px;
  top: 13px;
}
#shopping .content .center .items ul li:nth-child(2) {
  margin-right: 0px;
}
#shopping .content .center .items ul li:nth-child(4) {
  margin-right: 0px;
}
#shopping .content .center .number p {
  font-size: 14px;
  color: #666666;
  margin-top: 20px;
  position: relative;
}
#shopping .content .center .number p span {
  position: absolute;
  width: 214px;
  height: 40px;
  text-align: center;
  background: url('../images/buypage_plus_minus.png') no-repeat;
  top: -10px;
  margin-left: 30px;
  font-size: 28px;
}
#shopping .content .center .total p {
  font-size: 14px;
  color: #666666;
  margin-top: 35px;
  position: relative;
}
#shopping .content .center .total p span {
  position: absolute;
  top: -10px;
  padding-left: 30px;
  font-size: 28px;
  color: #F70000;
}
#shopping .content .center .btn {
  margin-top: 40px;
}
#shopping .content .center .btn .btn1 {
  display: inline-block;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #d7474c;
  font-weight: 700;
  width: 208px;
  height: 40px;
  border: 1px solid #d7474c;
  margin-right: 45px;
}
#shopping .content .center .btn .btn2 {
  display: inline-block;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  width: 208px;
  height: 40px;
  background: #d7474c;
}
#shopping .content .right h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
#shopping .content .right .figure {
  width: 230px;
  height: 376px;
  box-sizing: border-box;
  text-align: center;
  background: gold;
  padding-top: 30px;
}
#shopping .content .right .figure .images {
  width: 111px;
  height: 111px;
  border-radius: 50%;
  background: lawngreen;
  overflow: hidden;
  margin-left: 59px;
}
#shopping .content .right .figure .images img {
  width: 111px;
  height: 111px;
}
#shopping .content .right .figure p {
  font-size: 20px;
  margin: 10px 0;
  color: #333;
}
#shopping .content .right .figure span {
  font-size: 18px;
  color: #666;
}
#shopping .content .right .figure i {
  display: block;
  font-size: 16px;
  color: #666;
  margin: 10px 0;
}
#shopping .content .right .figure a {
  display: inline-block;
  width: 148px;
  height: 40px;
  background: #d7474c;
  font-size: 20px;
  line-height: 40px;
  border-radius: 2px;
  color: #fff;
  margin-top: 20px;
}
#product {
  width: 100%;
}
#product .content {
  width: 1200px;
  margin: 0 auto;
}
#product .content .left {
  width: 207px;
  height: 597px;
  border: 1px solid #F5F5F5;
}
#product .content .left h3 {
  box-sizing: border-box;
  padding-left: 20px;
  width: 100%;
  height: 50px;
  font-size: 20px;
  line-height: 0px;
  color: #333;
  line-height: 50px;
  background: rgba(229, 229, 229, 0.5);
}
#product .content .left .inland {
  box-sizing: border-box;
  padding-left: 20px;
  margin-top: 30px;
}
#product .content .left .inland p {
  font-size: 18px;
  color: #333333;
  font-weight: 600;
}
#product .content .left .inland p i {
  display: inline-block;
  background: url('../images/orderpage_up.png') no-repeat;
  width: 20px;
  height: 8px;
  margin-bottom: 2px;
}
#product .content .left .inland ul li {
  font-size: 16px;
  color: #666666;
  margin: 8px 0;
}
#product .content .left .internation {
  box-sizing: border-box;
  padding-left: 20px;
  margin-top: 30px;
}
#product .content .left .internation p {
  font-size: 18px;
  color: #333333;
  font-weight: 600;
}
#product .content .left .internation p i {
  display: inline-block;
  background: url('../images/orderpage_up.png') no-repeat;
  width: 20px;
  height: 8px;
  margin-bottom: 2px;
}
#product .content .left .internation ul li {
  font-size: 16px;
  color: #666666;
  margin: 8px 0;
}
#product .content .left .difficult {
  box-sizing: border-box;
  padding-left: 20px;
  margin-top: 30px;
}
#product .content .left .difficult p {
  font-size: 18px;
  color: #333333;
  font-weight: 600;
}
#product .content .left .difficult p i {
  display: inline-block;
  background: url('../images/orderpage_up.png') no-repeat;
  width: 20px;
  height: 8px;
  margin-bottom: 2px;
}
#product .content .left .difficult ul li {
  font-size: 16px;
  color: #666666;
  margin: 8px 0;
}
#product .content .right {
  width: 933px;
  height: 1206px;
  margin-bottom: 120px;
  box-sizing: border-box;
  border: 1px solid #F5F5F5;
}
#product .content .right .nav ul {
  width: 100%;
  height: 50px;
  background: rgba(229, 229, 229, 0.5);
}
#product .content .right .nav ul li {
  cursor: pointer;
  float: left;
  width: 167px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
  box-sizing: border-box;
  border: 1px solid #E5E5E5;
}
#product .content .right .nav ul .select {
  background: #FFFFFF;
  color: #d7474c;
  border: none;
  border-top: 1px solid #d7474c;
}
#product .content .right .introduce {
  width: 823px;
  height: 1140px;
  margin: 20px 30px 0 80px;
}
#product .content .right .introduce .nav2 {
  width: 100%;
  height: 40px;
}
#product .content .right .introduce .nav2 ul {
  width: 100%;
  height: 40px;
  background: rgba(229, 229, 229, 0.3);
}
#product .content .right .introduce .nav2 ul li {
  cursor: pointer;
  float: left;
  width: 130px;
  height: 40px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  box-sizing: border-box;
  border: 1px solid #E5E5E5;
}
#product .content .right .introduce .nav2 ul .cur {
  background: #FFFFFF;
  color: #d7474c;
  border-bottom: none;
  border-top: 2px solid #d7474c;
}
#footer .foot_top {
  padding-top: 15px;
  padding-bottom: 15px;
}
#footer .foot_top .links {
  color: #666;
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 200px;
  margin-bottom: 10px;
  overflow: hidden;
}
#footer .foot_top .links ul li {
  float: left;
  margin: 0 20px;
}
#footer .foot_top .foot {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 170px;
}
#footer .foot_top .foot ul {
  margin: 0 35px;
}
#footer .foot_top .foot ul li {
  margin: 5px 0;
}
#footer .foot_top .foot .code {
  position: relative;
  width: 200px;
}
#footer .foot_top .foot .code img {
  position: absolute;
  width: 125px;
  right: -450px;
  top: 0;
}
#footer .foot_top .foot .code h3 {
  position: absolute;
  font-size: 20px;
  right: -610px;
}
#footer .foot_top .foot .code p {
  position: absolute;
  right: -610px;
  font-size: 12px;
  top: 50px;
}
#footer .foot_bottom {
  padding: 15px 0;
  background: #4C4C4C;
  text-align: center;
  font-family: PingFangSC-Medium;
  font-size: 12px;
  color: #BEBEBE;
}
