#header {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #ee6723;
  background: #fff;
  box-shadow: 0 1px 1px 0;
}
#header .head {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
#header .head .login {
  position: absolute;
  top: 9px;
  left: 180px;
}
#header .head .login a {
  display: inline-block;
  width: 186px;
  height: 62px;
  background: url('../images/LOGO.png') no-repeat;
}
#header .head .phone {
  position: relative;
  line-height: 80px;
}
#header .head .phone .phone_t {
  position: absolute;
  right: 380px;
}
#header .head .phone .phone_t p {
  color: #B2B2B2;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 400;
}
#header .head .phone .phone_b {
  position: absolute;
  right: 215px;
}
#header .head .phone .phone_b span {
  color: #D0021B ;
  font-size: 20px;
  font-weight: 700;
}
#login {
  width: 100%;
  background: #F3F3F3;
  overflow: hidden;
}
#login .login_con {
  position: relative;
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #fff;
}
#login .login_con .login_top {
  padding-left: 280px;
  padding-top: 5px;
}
#login .login_con .login_top p {
  color: #B2B2B2;
  display: inline-block;
}
#login .login_con .login_top a {
  color: #f70000;
  font-weight: 700;
}
#login .login_center {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}
#login .login_pic {
  width: 100px;
  height: 100px;
  margin: 15px auto;
  border-radius: 50% ;
  background: #f70000;
}
#login .login_text input {
  height: 40px;
  width: 250px;
  background: #F3F3F3;
  box-shadow: inset 0 1px 2px 0 rgba(192, 186, 186, 0.7);
  border-radius: 6px;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding-left: 12px;
}
#login .pass input {
  height: 40px;
  width: 250px;
  background: #F3F3F3;
  box-shadow: inset 0 1px 1px 0 rgba(192, 186, 186, 0.7);
  border-radius: 6px;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding-left: 12px;
}
#login .protocol input {
  position: absolute;
  left: 100px;
  bottom: 52px;
}
#login .protocol p {
  position: absolute;
  left: 120px;
  bottom: 50px;
  color: #666;
}
#login .protocol p a {
  color: #f70000;
  font-weight: 700;
}
#login .btn input {
  width: 80px;
  height: 30px;
  background-image: linear-gradient(-180deg, #f4f4f4 33%, #dfdfdf 100%);
  box-shadow: 0 2px 2px 0 rgba(184, 173, 173, 0.5);
  border-radius: 5px;
  margin-bottom: 11px;
  margin-top: 15px;
  color: #f70000;
  font-size: 16px;
  font-weight: 700;
}
#login .login_foot {
  color: #f70000;
  text-decoration: underline  ;
}
#footer .foot_top {
  background: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}
#footer .foot_top .links {
  color: #666;
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 200px;
  margin-bottom: 10px;
  overflow: hidden;
}
#footer .foot_top .links ul li {
  float: left;
  margin: 0 20px;
}
#footer .foot_top .foot {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 170px;
}
#footer .foot_top .foot ul {
  margin: 0 35px;
}
#footer .foot_top .foot ul li {
  margin: 5px 0;
}
#footer .foot_top .foot .code {
  position: relative;
  width: 200px;
}
#footer .foot_top .foot .code img {
  position: absolute;
  width: 125px;
  right: -450px;
  top: 0;
}
#footer .foot_top .foot .code h3 {
  position: absolute;
  font-size: 20px;
  right: -610px;
}
#footer .foot_top .foot .code p {
  position: absolute;
  right: -610px;
  font-size: 12px;
  top: 50px;
}
#footer .foot_bottom {
  padding: 15px 0;
  background: #4C4C4C;
  text-align: center;
  font-family: PingFangSC-Medium;
  font-size: 12px;
  color: #BEBEBE;
}
