<!--尾部-->
<footer id="footer">
  <div class="foot_top">
    <div class="links">
      <p class="fl">{{firend_list[3].recommend_name}}:</p>
      <ul>
        <li ng-repeat="item in firend_list[3].recommendBeans track by $index">
          <a href="{{item.recommend_url}}" target="_blank">{{item.recommend_name}}</a>
        </li>

      </ul>
    </div>
    <div class="foot clearfix">
      <div class="ourselves fl">
        <ul>
          <li>
            <h3>{{firend_list[4].recommend_name}}</h3>
          </li>
          <li ng-repeat="item in firend_list[4].recommendBeans track by $index">
            <a href="{{item.recommend_url}}" target="_blank">{{item.recommend_name}}</a>
          </li>
        </ul>
      </div>
      <div class="help fl">
        <ul>
          <li>
            <h3>{{firend_list[2].recommend_name}}</h3>
          </li>
          <li ng-repeat="item in firend_list[2].recommendBeans track by $index">
            <a href="{{item.recommend_url}}" target="_blank">{{item.recommend_name}}</a>
          </li>

        </ul>
      </div>
      <div class="news fl">
        <ul>
          <li>
            <h3>{{firend_list[1].recommend_name}}</h3>
          </li>
          <li ng-repeat="item in firend_list[1].recommendBeans track by $index">
            <a href="{{item.recommend_url}}" target="_blank">{{item.recommend_name}}</a>
          </li>
        </ul>
      </div>
      <div class="service fl">
        <ul>
          <li>
            <h3>{{firend_list[0].recommend_name}}</h3>
          </li>
          <li ng-repeat="item in firend_list[0].recommendBeans track by $index">
            <a href="{{item.recommend_url}}" target="_blank">{{item.recommend_name}}</a>
          </li>

        </ul>
      </div>
      <div class="code ">
        <img src="./assets/images/code.png" alt="">
        <h3 >400-6236-000</h3>
        <p>(周一到周日 9:30-22:00)</p>
      </div>
    </div>
  </div>
  <div class="foot_bottom">
    <p>Copyright © 2016 shantiandaxu.com 版权所有 北京创遇科技服务有限公司  京ICP备12009436号-1</p>
    <span>北京市西城区红莲南路57号中国印刷大厦5层 邮编：100055</span>
  </div>
</footer>