<div class="highlight fl" ng-click="highlight()" left-light>
    <h3 class="select" ng-click="personage()">个人中心</h3>
    <div class="order">
        <p>订单中心</p>
        <ul>
            <li><a href="#/obligation" class="one">我的订单</a></li>
            <li><a href="#/evaluate">评价记录</a></li>
            <li><a href="">物流追踪</a></li>
            <li><a href="#/discounts" >我的优惠券</a></li>
            <li><a href="#/refund">退款记录</a></li>
        </ul>
    </div>
    <div class="Settings">
        <p >个人设置</p>
        <ul>
            <li><a href="#/account_mess">账户信息</a></li>
            <li><a href="#/company_mess">公司信息</a></li>
            <li><a href="#/address">收件信息</a></li>
            <li><a href="#/discounts">我的优惠券</a></li>
        </ul>
    </div>
    <a href="#/expenses" class="finance ">我的财务</a>
    <a href="#/info" class="message">信息管理</a>
</div>